---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE_FOR_SEO } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title="404 Not Found" description="404 Not Found" />
	</head>
	<body>
		<Header />
		<main>
            <p>404 Not Found</p>
			<p>お探しのページは見つかりませんでした。</p>
		</main>
		<Footer />
	</body>
</html>