---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h2>私の興味</h2>
	<ul>
		<li>物理学</li>
		<li>数学</li>
		<li>プログラミング</li>
	</ul>

</Layout>
