---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
            <h2>プライバシーポリシー</h2>
            <p>当サイト（以下、「当ブログ」）では、第三者配信による広告サービス（Google AdSense）を利用しています。これらの広告配信事業者は、ユーザーの興味に応じた広告を表示するため、Cookie（クッキー）を使用することがあります。</p>
          
            <h3>広告配信について</h3>
            <p>
              Googleを含む第三者広告配信事業者は、ユーザーの過去のアクセス情報に基づいて広告を配信しています。<br>
              Googleが広告Cookieを使用することにより、当サイトや他のサイトへのアクセス情報に基づいて、適切な広告が表示されます。
            </p>
            <p>
              ユーザーは <a href="https://adssettings.google.com/authenticated" target="_blank" rel="noopener noreferrer">広告設定</a> にてパーソナライズ広告を無効にできます。<br>
              また、<a href="https://www.aboutads.info/" target="_blank" rel="noopener noreferrer">www.aboutads.info</a> にアクセスすることで、第三者配信事業者のCookieの使用を無効にすることも可能です。
            </p>
          
            <h3>アクセス解析について</h3>
            <p>
              当ブログでは、Googleアナリティクスを利用してアクセス情報を解析しています。<br>
              Googleアナリティクスはトラフィックデータ収集のためにCookieを使用しており、このデータは匿名で収集され、個人を特定するものではありません。<br>
              Cookieを無効にすることで収集を拒否できます。ブラウザの設定をご確認ください。
            </p>
          
            <h3>個人情報の取り扱い</h3>
            <p>
              当ブログでは、お問い合わせやコメントの際に、名前やメールアドレスなどの個人情報を入力していただく場合があります。<br>
              これらの情報は、質問への回答や連絡のために使用し、それ以外の目的では利用いたしません。<br>
              また、取得した個人情報は適切に管理し、第三者に開示・提供することはありません（法令により開示が求められた場合を除きます）。
            </p>
          
            <h2>免責事項</h2>
            <p>
              当ブログに掲載している情報は、正確な情報を提供するよう努めていますが、その内容の正確性や安全性を保証するものではありません。<br>
              万が一、当ブログの情報によって損害等が生じた場合でも、当ブログでは一切責任を負いかねます。
            </p>
            <p>
              また、当ブログからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等についても一切の責任を負いません。
            </p>
            <p>
              掲載されている内容は予告なく変更・削除される場合があります。あらかじめご了承ください。
            </p>
		</main>
		<Footer />
	</body>
</html>
