---
import Default from '@astrojs/starlight/components/Footer.astro';
import { CONTACT_US_URL } from '../consts';

const today = new Date();
---

<Default><slot /></Default>
<p>&copy; 2023-{today.getFullYear()} LogPiyo. All rights reserved.</p>
<a href="/about" class="footer-link">
	<span class="sr-only">運営者情報</span>
	About Us
</a>
<a href="/policy" class="footer-link">
	<span class="sr-only">プライバシーポリシー</span>
	Privacy Policy
</a>
<a href={ CONTACT_US_URL } class="footer-link">
	<span class="sr-only">お問い合わせ</span>
	Contact Us
</a>

<style>
	.footer-link {
		color: var(--sl-color-text);
		text-decoration: none;
		padding: 1px 15px;
		margin: 0 5px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: color-mix(in hsl, var(--sl-color-bg) 90%, gray);
		transition: background-color 0.3s, border-color 0.3s;
		display: inline-block;
	}
	.footer-link:hover {
		background-color: color-mix(in hsl, var(--sl-color-bg) 70%, gray);
		border-color: var(--sl-color-text);
	}
</style>